.heading{
    width: 95%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 7px 7px 15px violet;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
    font-weight: bolder;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#play{
    font-size: 23px;
    padding-left: 85px;
    padding-right: 85px;
}
#instructions{
    border: 1px solid black;
}
.instruction_images{
    display: inline-block;
    width: 35%;
    height: 150px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}
.modal-header{
    background-color: white;
}
canvas{
    border: 5px ridge wheat;
    border-radius: 10px;
    box-shadow: 7px 7px 15px gray;
    margin-bottom: 20px;
}
.footer{
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}
.restart{
    font-size: 23px;
    padding-left: 85px;
    padding-right: 85px;
    margin-bottom: 50px;
}